<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="KoobepopTest">
	<test name="KoobepopTest" enabled="true" preserve-order="true">
		<groups>
			<run>
				<include name="companyDao" />
				<exclude name="contactDao" />
			</run>
		</groups>
		<classes>
			<class name="com.biit.koobepopserver.persistence.dao.jpa.CompanyDaoTest" />
			<class name="com.biit.koobepopserver.persistence.dao.jpa.ContactDaoTest" />
		</classes>
	</test>
</suite>