<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>KoobepopServer</display-name>

	<context-param>
		<description>KoobepopServer</description>
		<param-name>heartbeatInterval</param-name>
		<!-- 20 minutes that means full expiration time is 60 minutes -->
		<param-value>1200</param-value>
	</context-param>

	<context-param>
		<description>KoobepopServer Designer</description>
		<param-name>productionMode</param-name>
		<param-value>true</param-value>
	</context-param>

	<mime-mapping>
		<extension>manifest</extension>
		<mime-type>text/cache-manifest</mime-type>
	</mime-mapping>

	<!-- Spring -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:applicationContext.xml</param-value>
	</context-param>

	<!-- Apache Tomcat session expire -->
	<session-config>
		<session-timeout>61</session-timeout>
	</session-config>


	<servlet>
		<servlet-name>KoobepopServer REST Service</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.biit.koobepopserver.core.rest</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>KoobepopServer REST Service</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>com.biit.usmo.core.security.rest.KoobepopRestAuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>
	

	
	
</web-app>
