<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="KoobepopTest">
	<test name="KoobepopTest" enabled="true" preserve-order="true">
		<groups>
			<run>
				<exclude name="companySearchServiceTest" />
			</run>
		</groups>
		<classes>
			<class name="com.biit.koobepopserver.core.rest.CompanySearchServiceTest" />
		</classes>
	</test>
</suite>